.top {
  background: #1B1B24 url(../images/plane.png) no-repeat 5px 5px;
  height: 230px;
  font-family: arial, helvetica, sans-serif;
  color: #D4D4FF;
}
.top p {
  color: #C9C3E6;
  font-weight: normal;
  background-color: #29264D;
  font-size: 16px;
  padding: 10px 5px;
  border-bottom: 3px solid #494573;
}
.top p a {
  color: #BFF740;
  text-decoration: none;
}

.top h1 {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 62px;
  color: white;
  text-shadow: black 0px 1px 1px;
  padding: 20px 0 0 300px;
}

.top h1 em {
  font-family: Rockwell, 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: #A292FF;
  font-size: 25px;
  display: block;
  padding: 0 0 0 83px;
}
