body {
  background-color: #F0F0F0;
}
.top {
  background: #1B1B24 url(../images/plane.png) no-repeat 5px 5px;
  height: 230px;
  font-family: arial, helvetica, sans-serif;
  color: #D4D4FF;
  border-bottom: 1px solid #242E34;
}
.top p {
  color: #C9C3E6;
  font-family: Verdana;
  font-weight: normal;
  background-color: #29264D;
  font-size: 13px;
  padding: 10px 5px;
  border-bottom: 3px solid #494573;
}
.top p a {
  color: #BFF740;
  text-decoration: none;
}

.top p a:hover {
  color: white;
}

.top h1 {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 62px;
  color: white;
  text-shadow: black 0px 1px 1px;
  padding: 25px 0 0 300px;
}

.top h1 em {
  font-family: Rockwell, 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: #A292FF;
  font-size: 25px;
  display: block;
  padding: 0 0 0 140px;
}

.content h2 {
  font-family: CorbelRegular, Arial, Helvetica, sans-serif;
  background-color: #1B2429;
  border-top: 2px solid #242E34;
  border-bottom: 2px solid #242E34;
  color: #CFF0FF;
  font-size: 26px;
  text-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 1px;
  padding: 15px 30px;
}

.content table {
  background-color: white;
}

.product {
  background-color: white;
  margin: 0;
  padding: 5px;
  border: none;
  text-align: center;
}

.product:hover {
  background-color: #F0F0F0;
}

.product h3 {
  background-color: #ebebeb;
  border-bottom: 1px solid #e2e2e2;
  font-size: 15px;
  padding: 5px 8px;
  text-align: left;
}
.product h3 a {
  text-decoration: none;
  color: #666666;
}
.product h3 a em {
  color: #999999;
}

.photos {
  padding: 10px 10px 120px 10px;
}

.description {
  margin: 10px;
  border: 1px solid #cccccc;
  padding-bottom: 5px;
}

.description p {
  font-size: 16px;
  padding: 5px 10px 15px 10px;
  color: #333333;
  background-color: white;
}

.description p a {
  background-color: #243f46;
  color: #CFF0FF;
  text-decoration: none;
  font-size: 15px;
  padding: 5px 10px;
}

.description p a:hover {
  color: #90bba7;
}

.description h3 {
  background-color: #cccccc;
  font-size: 20px;
  color: #333333;
  padding: 5px 10px;
  margin-bottom: 10px;
}
