<h1>Lista de itens</h1>

<table width="100%">
<% @products.each_slice(5) do |product_row| %>
  <tr>
    <% product_row.each do |product| %>
      <td class="product">
        <h5><%= link_to "#{product._id}. #{product.name} - #{to_currency(product.price)}", product_path(product) %></h5>
        <% product.photos[0...1].each do |photo| %>
          <%= image_tag photo.image.url(:thumb) %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
