<h1>Lista de itens</h1>

<table width="100%">
  <tr>
    <th>Nome</th>
    <th>Preço</th>
    <th>Descrição</th>
    <th>Foto(s)</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= number_to_currency(product.price, :locale => :pt, :format => "R%u %n") %></td>
    <td><%= product.description %></td>
    <td>
      <% product.photos.each do |photo| %>
        <%= image_tag photo.image.url(:thumb) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />
