<h2>Dispon&iacute;veis</h2>
<table width="97%" align="center">
  <% @available.each_slice(5) do |product_row| %>
    <tr>
      <% product_row.each do |product| %>
        <td class="product">
          <h3><%= link_to raw("#{product.id}) #{product.name}: <em>#{to_currency(product.price)}<em>"), product_path(product) %></h3>
              <% product.photos[0...1].each do |photo| %>
                <%= link_to image_tag(photo.image.url(:thumb), :alt => "Clique para ver mais detalhes sobre o item"), product_path(product) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <h2>Vendidos</h2>
    <table width="97%" align="center">
      <% @sold.each_slice(5) do |product_row| %>
        <tr>
          <% product_row.each do |product| %>
            <td class="product sold">
              <h3><%= link_to raw("#{product._id}) #{product.name}: <em>#{to_currency(product.price)}</em>"), product_path(product) %></h3>
              <% product.photos[0...1].each do |photo| %>
                <%= link_to image_tag(photo.image.url(:thumb), :alt => "Clique para ver mais detalhes sobre o item"), product_path(product) %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>

